In [1]:
import pandas as pd

In [23]:
data = pd.read_csv("../data/listings_Taip√©i.csv")

In [24]:
useful_columns = ["room_type","price"]
data.drop(data.columns.difference(useful_columns),axis =  1, inplace=True)

In [25]:
data.room_type.count()

5431

In [26]:
data.groupby("room_type")["price"].max()

room_type
Entire home/apt    168008
Hotel room         300000
Private room       300245
Shared room         31792
Name: price, dtype: int64

In [27]:
data[data["room_type"] == "Entire home/apt" ].sort_values(by = "price", ascending = False).head(10)

            room_type   price
2552  Entire home/apt  168008
1354  Entire home/apt  100000
399   Entire home/apt   88888
511   Entire home/apt   60000
4128  Entire home/apt   40000
4486  Entire home/apt   33333
398   Entire home/apt   32088
411   Entire home/apt   31700
5041  Entire home/apt   28586
3407  Entire home/apt   26800