## Projecting Growth

In [2]:
import pandas as pd
import numpy as np

### Overall

Assuming a world without Corona and Recession

In [4]:
ecosystem = pd.read_csv(r'data/comps_cons_ann_growth.csv').drop(columns = "Unnamed: 0")
ecosystem.head()

   year_founded  number  yoy_growth
0        1901.0       5         NaN
1        1902.0       8    0.600000
2        1903.0       7   -0.125000
3        1904.0       4   -0.428571
4        1905.0       3   -0.250000

In [5]:
idx = ecosystem[ecosystem['year_founded'] < 1990].index
ecosystem.drop(idx , inplace=True)
ecosystem.head()

    year_founded  number  yoy_growth
89        1990.0     349    0.026471
90        1991.0     351    0.005731
91        1992.0     392    0.116809
92        1993.0     485    0.237245
93        1994.0     528    0.088660

In [10]:
# getting rid of 2013 and 2014

idx = ecosystem[ecosystem['year_founded'] >= 2013].index
ecosystem.drop(idx , inplace=True)
ecosystem.year_founded.max()

2012.0

In [11]:
ecosystem.yoy_growth.describe()

count    23.000000
mean      0.170481
std       0.150929
min      -0.106007
25%       0.095052
50%       0.138020
75%       0.240194
max       0.515957
Name: yoy_growth, dtype: float64

In [12]:
from scipy.stats import sem, t
from scipy import mean

In [13]:
confidence = 0.95
data = ecosystem.yoy_growth

n = len(data)
m = mean(data)
std_err = sem(data)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  """

In [15]:
start = m - h
print(start)

0.10521491813916703

In [16]:
end = m + h
print(end)

0.2357480735364004

In [ ]:
# After 2000

In [18]:
idx = ecosystem[ecosystem['year_founded'] < 2000].index
ecosystem.drop(idx , inplace=True)
ecosystem.head()

     year_founded  number  yoy_growth
99         2000.0    2264    0.134837
100        2001.0    2024   -0.106007
101        2002.0    2001   -0.011364
102        2003.0    2268    0.133433
103        2004.0    2610    0.150794

In [19]:
ecosystem.yoy_growth.describe()

count    13.000000
mean      0.145392
std       0.142630
min      -0.106007
25%       0.101444
50%       0.138020
75%       0.239464
max       0.394960
Name: yoy_growth, dtype: float64

In [20]:
confidence = 0.95
data = ecosystem.yoy_growth

n = len(data)
m = mean(data)
std_err = sem(data)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  """

In [21]:
start2000 = m - h
print(start)

0.10521491813916703

In [22]:
end2000 = m + h
print(end)

0.2357480735364004

In [ ]:
# After 2005

In [24]:
idx = ecosystem[ecosystem['year_founded'] < 2005].index
ecosystem.drop(idx , inplace=True)
ecosystem.head()

     year_founded  number  yoy_growth
104        2005.0    3235    0.239464
105        2006.0    4246    0.312519
106        2007.0    5923    0.394960
107        2008.0    7350    0.240925
108        2009.0    8948    0.217415

In [25]:
ecosystem.yoy_growth.describe()

count    8.000000
mean     0.198550
std      0.138078
min     -0.056348
25%      0.128876
50%      0.228439
75%      0.258824
max      0.394960
Name: yoy_growth, dtype: float64

In [26]:
confidence = 0.95
data = ecosystem.yoy_growth

n = len(data)
m = mean(data)
std_err = sem(data)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  """

In [27]:
start2005 = m - h
print(start)

0.10521491813916703

In [28]:
end2005 = m + h
print(end)

0.2357480735364004

### By Industry

In [49]:
comps_year_ind = pd.read_csv(r'data/companies_year_industry_geography.csv')
comps_year_ind.head()

  category_code  year_founded country_code  0
0   advertising        1990.0          ESP  1
1   advertising        1990.0          ITA  1
2   advertising        1990.0          USA  3
3   advertising        1991.0          CAN  1
4   advertising        1991.0          POL  1

In [50]:
# after 2000

In [51]:
idx = comps_year_ind[comps_year_ind['year_founded'] < 1999].index
comps_year_ind.drop(idx , inplace=True)
comps_year_ind.head()

   category_code  year_founded country_code  0
51   advertising        1999.0          AUS  1
52   advertising        1999.0          CAN  9
53   advertising        1999.0          DEU  1
54   advertising        1999.0          ESP  1
55   advertising        1999.0          FRA  1

In [52]:
comps_year_ind_grouped = comps_year_ind.groupby(['category_code', 'year_founded']).sum().reset_index()
comps_year_ind_grouped.head()

  category_code  year_founded    0
0   advertising        1999.0   88
1   advertising        2000.0   81
2   advertising        2001.0   95
3   advertising        2002.0   69
4   advertising        2003.0  117

In [53]:
# Growth

In [54]:
comps_year_ind_grouped['yoy_growth'] = (comps_year_ind_grouped['0'] -comps_year_ind_grouped['0'].shift(1)) / comps_year_ind_grouped['0'].shift(1)
comps_year_ind_grouped.tail()

    category_code  year_founded     0  yoy_growth
605           web        2010.0   976    0.073707
606           web        2011.0  1120    0.147541
607           web        2012.0   935   -0.165179
608           web        2013.0   319   -0.658824
609           web        2014.0     2   -0.993730

In [57]:
idx = comps_year_ind_grouped[comps_year_ind_grouped['year_founded'] < 2000].index
comps_year_ind_grouped.drop(idx , inplace=True)

In [58]:
idx = comps_year_ind_grouped[comps_year_ind_grouped['year_founded'] > 2012].index
comps_year_ind_grouped.drop(idx , inplace=True)
comps_year_ind_grouped.head()

  category_code  year_founded    0  yoy_growth
1   advertising        2000.0   81   -0.079545
2   advertising        2001.0   95    0.172840
3   advertising        2002.0   69   -0.273684
4   advertising        2003.0  117    0.695652
5   advertising        2004.0  112   -0.042735

In [66]:
from scipy import stats
import math

list_of_industries = list(comps_year_ind_grouped.category_code.unique())
lower_con = []
upper_con = []


for industry in list_of_industries:
    temp = comps_year_ind_grouped.loc[comps_year_ind_grouped.category_code == industry]
    n = len(temp.yoy_growth)
    m = temp.yoy_growth.mean()
    std_err = temp.yoy_growth.sem()
    std = temp.yoy_growth.std()
    h = std_err * t.ppf((1 + confidence) / 2, n - 1)
    lower, upper = stats.norm.interval(0.95, m, scale = (std / math.sqrt(n)))
    lower_con.append(lower)
    upper_con.append(upper)

In [71]:
df = pd.DataFrame(data=[list_of_industries, lower_con, upper_con]).transpose()
df.columns=['Industry', 'Lower', 'Upper']
df.head()

      Industry       Lower     Upper
0  advertising -0.00947837  0.306652
1    analytics   0.0424264  0.767002
2   automotive  -0.0628921  0.661293
3      biotech  -0.0550599  0.144694
4    cleantech  -0.0721029  0.311477

In [72]:
df.to_csv(r'growth_industry_confidence.csv')

### By geographical Orientation

## Companies being closed

In [17]:
# Ratio in general

#### Overall