# Estimate how long would take for Barcelona city to reach the average of the top10 chinese densified cities

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
pop_cat = pd.read_excel('../datasets/population_2010-2019.xlsx')
pop_cat_copy = pop_cat.copy()
pop_cat.head()

,city_name,county_name,Code,Area_Km2,Population,Year,Density
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abella de la Conca,Pallars Jussà,250019,78.27,181,2010.0,2.312508
3,Abrera,Baix Llobregat,80018,19.94,11469,2010.0,575.175527
4,Àger,Noguera,250024,160.57,584,2010.0,3.637043

In [12]:
pop_cat.columns

Index(['city_name', 'county_name', 'Code', 'Area_Km2', 'Population', 'Year',
       'Density '],
      dtype='object')

In [18]:
bcn_pop = pop_cat.loc[pop_cat['city_name'] == 'Barcelona']
bcn_pop

      city_name county_name     Code Area_Km2 Population    Year      Density
92    Barcelona  Barcelonès    80193   101.35    1619337  2010.0  15977.671436
1038  Barcelona  Barcelonès    80193   101.35    1615448  2011.0  15939.299457
1985  Barcelona  Barcelonès    80193   101.35    1620943  2012.0  15993.517514
2932  Barcelona  Barcelonès  080193    101.35    1611822  2013.0  15903.522447
3879  Barcelona  Barcelonès  080193    101.35    1602386  2014.0  15810.419339
4826  Barcelona  Barcelonès  080193     101.4    1604555  2015.0  15824.013807
5773  Barcelona  Barcelonès  080193     101.3    1608746  2016.0  15881.006910
6721  Barcelona  Barcelonès  080193    101.35    1620809  2017.0  15992.195363
7668  Barcelona  Barcelonès  080193    101.35    1620343  2018.0  15987.597435
8615  Barcelona  Barcelonès  080193    101.35    1636762  2019.0  16149.600395

In [36]:
bcn_density_lst = list(bcn_pop['Density '].round(0))
bcn_density_lst = bcn_density_lst
print(bcn_density_lst)
print(num_ten)

[15978.0, 15939.0, 15994.0, 15904.0, 15810.0, 15824.0, 15881.0, 15992.0, 15988.0, 16150.0]
[5, 6, 7, 8, 9, 10]

In [34]:
china = [6000, 4500, 4600, 7500, 3000, 6000, 8500, 5200, 5300, 5300]
china_avg = int(sum(china) / len(china))
china_avg

5590