# Is it worth it? - Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bike = pd.read_csv("/home/pau/Ironhack/week5/project5/Project-Week-5-Your-Own-Project/your-project/test_version/yearmonthday_trip_duration.csv")

In [3]:
df_bike = df_bike.drop(["Unnamed: 0"], axis=1)
df_bike.head()

  YearMonthDay  trip_id  tripduration
0   2014-10-13      409    118.642416
1   2014-10-14      491    153.051864
2   2014-10-15      313     66.719825
3   2014-10-16      395    111.195446
4   2014-10-17      294     74.685121

In [4]:
df_bike[["tripduration"]].mean()/500

tripduration    0.199463
dtype: float64