In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('AB_NYC_2019.csv')
data.shape

(48895, 16)

In [3]:
data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [4]:
data1 = data.loc[data.price!=0]
data1.shape
#wiping out the listings with price 0
#another method zero_p.drop(data[data.price == 0].index)

(48884, 16)

In [5]:
data2 = data1.loc[data1.number_of_reviews>=5]
data2.shape
#wiping out the listings with less than 5 reviews

(25613, 16)

In [6]:
data2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [7]:
data2.describe()
#I see some listings with 0 availability out of 365... these are going out (I will set the min in 1 day)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.561300e+04,2.561300e+04,25613.000000,25613.000000,25613.000000,25613.000000,25613.000000,25613.000000,25613.00000,25613.000000
mean,1.658553e+07,6.103874e+07,40.727586,-73.949221,139.707609,5.052786,43.334400,1.849299,4.22551,129.826260
std,1.043420e+07,7.271798e+07,0.055824,0.049076,174.449830,15.341957,54.231858,1.832490,23.89229,128.184546
min,2.539000e+03,2.571000e+03,40.508680,-74.239860,10.000000,1.000000,5.000000,0.050000,1.00000,0.000000
25%,7.037918e+06,6.111018e+06,40.687310,-73.982310,69.000000,1.000000,10.000000,0.470000,1.00000,3.000000
50%,1.697627e+07,2.577398e+07,40.720920,-73.953860,103.000000,2.000000,22.000000,1.270000,1.00000,85.000000
75%,2.535088e+07,9.741789e+07,40.763250,-73.932340,165.000000,4.000000,55.000000,2.740000,2.00000,250.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.712990,10000.000000,999.000000,629.000000,58.500000,327.00000,365.000000

In [8]:
data3 = data2.loc[data2.availability_365>=1]
data3.shape

(19728, 16)

In [9]:
data3.describe()
#I see some listings with minimum nights of 999 (thats the max, while 75%has 4 night)... Im gonna wipe out these outliers...

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.972800e+04,1.972800e+04,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000
mean,1.714551e+07,6.695079e+07,40.726974,-73.946637,143.177717,5.320255,49.916464,2.148959,5.073702,168.554339
std,1.074753e+07,7.655293e+07,0.057194,0.052149,174.119720,16.252099,57.936266,1.900047,27.158951,121.675693
min,2.539000e+03,2.571000e+03,40.508680,-74.239860,10.000000,1.000000,5.000000,0.050000,1.000000,1.000000
25%,7.116848e+06,6.392332e+06,40.686310,-73.981950,69.000000,1.000000,12.000000,0.700000,1.000000,54.000000
50%,1.795759e+07,3.046367e+07,40.720425,-73.952275,105.000000,2.000000,28.000000,1.690000,1.000000,158.000000
75%,2.666908e+07,1.148224e+08,40.763140,-73.928600,170.000000,4.000000,66.000000,3.100000,3.000000,284.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.712990,9999.000000,999.000000,629.000000,58.500000,327.000000,365.000000

In [10]:
data4 = data3.loc[data3.minimum_nights<=5]
data4.shape

(17053, 16)

In [11]:
data4.describe()
#I see a useless column (calculated host listings count), gonna drop it

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.705300e+04,1.705300e+04,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000
mean,1.799615e+07,7.127990e+07,40.726015,-73.944722,141.562540,2.239899,53.558142,2.359315,4.742157,164.553216
std,1.069758e+07,7.836666e+07,0.058036,0.053842,146.645934,1.154639,60.107302,1.929799,28.526024,121.326041
min,2.539000e+03,2.787000e+03,40.508680,-74.239860,10.000000,1.000000,5.000000,0.050000,1.000000,1.000000
25%,8.420870e+06,7.356757e+06,40.685560,-73.981190,69.000000,1.000000,13.000000,0.910000,1.000000,51.000000
50%,1.922277e+07,3.508968e+07,40.719010,-73.950860,100.000000,2.000000,31.000000,1.960000,1.000000,152.000000
75%,2.752115e+07,1.247430e+08,40.762760,-73.926190,170.000000,3.000000,72.000000,3.310000,2.000000,280.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.712990,7500.000000,5.000000,629.000000,58.500000,327.000000,365.000000

In [12]:
data5 = data4.drop('calculated_host_listings_count', 1)
data5.shape

(17053, 15)

In [13]:
data5.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
count,1.705300e+04,1.705300e+04,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000,17053.000000
mean,1.799615e+07,7.127990e+07,40.726015,-73.944722,141.562540,2.239899,53.558142,2.359315,164.553216
std,1.069758e+07,7.836666e+07,0.058036,0.053842,146.645934,1.154639,60.107302,1.929799,121.326041
min,2.539000e+03,2.787000e+03,40.508680,-74.239860,10.000000,1.000000,5.000000,0.050000,1.000000
25%,8.420870e+06,7.356757e+06,40.685560,-73.981190,69.000000,1.000000,13.000000,0.910000,51.000000
50%,1.922277e+07,3.508968e+07,40.719010,-73.950860,100.000000,2.000000,31.000000,1.960000,152.000000
75%,2.752115e+07,1.247430e+08,40.762760,-73.926190,170.000000,3.000000,72.000000,3.310000,280.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.712990,7500.000000,5.000000,629.000000,58.500000,365.000000

In [14]:
#the max price of 7500 a night is not affordable, while the 3 quartile is only 170, so let's see what's there
data5.price.value_counts()

150     599
100     573
60      505
75      488
65      487
       ...
344       1
323       1
312       1
403       1
7500      1
Name: price, Length: 490, dtype: int64

In [15]:
#alright, only one outlier, the second biggest price is actually 403, so I will remove prices above 500
data6 = data5.loc[data5.price<500]
data6.shape

(16709, 15)

In [16]:
data6.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
count,1.670900e+04,1.670900e+04,16709.000000,16709.000000,16709.000000,16709.000000,16709.000000,16709.000000,16709.000000
mean,1.800145e+07,7.104617e+07,40.725938,-73.944054,128.126399,2.231672,53.999402,2.372974,163.344545
std,1.068724e+07,7.816750e+07,0.058401,0.054005,83.736027,1.151505,60.350653,1.932600,121.231533
min,2.539000e+03,2.787000e+03,40.508680,-74.239860,10.000000,1.000000,5.000000,0.050000,1.000000
25%,8.444115e+06,7.365719e+06,40.685330,-73.980320,68.000000,1.000000,13.000000,0.920000,50.000000
50%,1.922742e+07,3.491534e+07,40.718540,-73.950180,100.000000,2.000000,32.000000,1.980000,149.000000
75%,2.751920e+07,1.239367e+08,40.762980,-73.925420,165.000000,3.000000,72.000000,3.320000,279.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.712990,499.000000,5.000000,629.000000,58.500000,365.000000

In [17]:
#availability of one night a year is another outlier
data7 = data6.loc[data6.availability_365>=30]
data7.shape

(13777, 15)

In [18]:
data7.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
count,1.377700e+04,1.377700e+04,13777.000000,13777.000000,13777.000000,13777.000000,13777.000000,13777.000000,13777.000000
mean,1.772562e+07,7.386618e+07,40.725021,-73.941755,128.650940,2.186688,56.841693,2.435819,195.575307
std,1.082026e+07,7.940163e+07,0.059541,0.056316,85.268983,1.138552,62.155453,1.941719,109.040008
min,2.539000e+03,2.787000e+03,40.508680,-74.239860,10.000000,1.000000,5.000000,0.050000,30.000000
25%,7.914369e+06,7.858210e+06,40.684350,-73.979040,66.000000,1.000000,14.000000,0.980000,89.000000
50%,1.878795e+07,3.767894e+07,40.717600,-73.948640,100.000000,2.000000,34.000000,2.080000,188.000000
75%,2.745430e+07,1.309730e+08,40.762730,-73.922290,165.000000,3.000000,77.000000,3.380000,299.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.712990,499.000000,5.000000,629.000000,58.500000,365.000000

In [19]:
#let's make sure the listings are having at least one review a month to have more consistency
data8 = data7.loc[data7.reviews_per_month>=1]
data8.shape

(10298, 15)

In [20]:
data8.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
count,1.029800e+04,1.029800e+04,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000
mean,1.973974e+07,8.519805e+07,40.725022,-73.940392,127.362498,2.073315,68.998252,3.074240,190.988153
std,1.053618e+07,8.308823e+07,0.059246,0.057107,84.234826,1.074285,67.000182,1.845935,106.689604
min,3.831000e+03,2.881000e+03,40.508730,-74.239140,10.000000,1.000000,5.000000,1.000000,30.000000
25%,1.135373e+07,1.085298e+07,40.684275,-73.979320,65.000000,1.000000,20.000000,1.790000,87.000000
50%,2.130985e+07,5.068872e+07,40.717200,-73.947755,100.000000,2.000000,48.000000,2.680000,180.000000
75%,2.913264e+07,1.534053e+08,40.762510,-73.920320,163.750000,3.000000,95.750000,3.850000,289.000000
max,3.614532e+07,2.694991e+08,40.908040,-73.721790,499.000000,5.000000,629.000000,58.500000,365.000000

In [21]:
data8.to_csv('AB_NYC_2019_clean.csv', encoding='utf-8', index=False)

In [ ]:
#exporting the clean data to csv, so I can work with it in tableau!