Importing libraries

In [ ]:
#here we import the needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datapackage
import re

## Population by country

In [ ]:
Pop_df = pd.read_excel('HistoricalPopulationValues.xls')
Pop_df

## GDP in billions of $

In [ ]:
Gdp_df = pd.read_excel('GDP_millions.xls')
Gdp_df

In [ ]:
Gdp_df

In [ ]:
#here we import the csv file about population
population_df = pd.read_csv('population-figures-by-country.csv')
population_df.head()

In [ ]:
#here we clean the column names
column = list(population_df.columns)
columns = []
for i in column:
    text = re.sub('Year_', '', i)
    if text:
        columns.append(text)

population_df.columns = columns
population_df.head()

In [ ]:
population_df =population_df.drop(['1960'], axis=1)

In [ ]:
population_df.plot(population_df['Country']=='Angola',  kind='line')

## Gini index

In [ ]:
'''#here we import the csv file
gini_df = pd.read_csv('gini_index.csv')
gini_df
 
gini_df = gini_df.pivot_table(values='Value', index=gini_df['Country Name'], columns='Year').reset_index()
for int in gini_df.columns:
    if gini_df[int].notna().sum() >= 30:
        gini_df = gini_df.drop([int], axis=1)
gini_df'''

## world indicators data

In [ ]:
#here we import the csv file about world indicators
WI_df = pd.read_csv('WDIData.csv')
WI_df.head()

In [ ]:
#here we check the different indicators from the dataset
WI_df['Indicator Name'].unique()

## Access to clean fuels and technologies for cooking (% of population)

In [ ]:
#here we filter to get the data about access to clean fuels and technologies for cooking 
tech = WI_df['Indicator Name']=='Access to clean fuels and technologies for cooking (% of population)'
tech_df = WI_df[tech]
tech_df

In [ ]:
#tech_df.columns.unique()
#tech_df.isna().sum()

In [ ]:
#here we are cleaning the columns that we don't need or that had too many nan values
tech_df = tech_df.drop(['Indicator Name','Indicator Code','Unnamed: 64','1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2017','2018','2019'], axis=1)
tech_df

In [ ]:
tech_df = tech_df.dropna()

In [ ]:
tech_df.head()

## Access to electricity (% of population)

In [ ]:
#here we filter to get the data about access to electricity
electricity = WI_df['Indicator Name']=='Access to electricity (% of population)'
elec_df = WI_df[electricity]
elec_df.head()

In [ ]:
elec_df.columns.unique()

In [ ]:
#list(elec_df.count())

In [ ]:
#here we are cleaning the columns that we don't need or that had too many nan values
elec_df = elec_df.drop(['Indicator Name','Indicator Code','Unnamed: 64','1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2017','2018','2019'], axis=1)
elec_df

In [ ]:
#elec_df.isna().sum()

## terciary education

In [ ]:
#here we import the csv file about terciary education
education_df = pd.read_csv('DP_LIVE_04052020092227869.csv')
education_df

In [ ]:
education_df.columns.unique()

In [ ]:
#here we use the function pivot_table to align the table with the other datasets
education_df = education_df.pivot_table(values='Value', index=education_df['LOCATION'], columns='TIME').reset_index()
education_df

In [ ]:
education_df.isna().sum()

In [ ]:
#here we are dropping all columns that have 30 or more nan values
for int in education_df.columns:
    if (education_df[int].isna().sum()) >= 30:
        education_df = education_df.drop([int], axis=1)
education_df

## GDP per capita

In [ ]:
gdp_g_df = pd.read_csv('GDP.csv', sep='delimiter',encoding = "ISO-8859-1")
gdp_g_df

In [ ]:
# here we are reading the excel sheet about GDP per country
gdp_df = pd.read_excel('mpd_2013-01.xlsx', skiprows=2)

In [ ]:
gdp_df.columns.unique()

In [ ]:
# here we clean the data a bit before tranposing it
gdp_df = gdp_df.rename(columns = {'Unnamed: 0':'year'})
#gdp_df['year'] = gdp_df['year'].astype(int)
gdp_df = gdp_df.set_index('year')
gdp_df

In [ ]:
#here we transpose the datar frame to align it with the other datasets
gdp_correct = gdp_df.T
gdp_correct

In [ ]:
years = list(gdp_correct.columns.unique())

In [ ]:
year = str(years)
year

In [ ]:
gdp_correct.columns.unique()

In [ ]:
gdp_correct.columns.map(type)

In [ ]:
'''['1','730','1000','1150','1280','1300','1348','1400', '1450', '1500', '1550', '1570', '1600',
                                '1650', '1700', '1720', '1750', '1775', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
                                '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818',
                                '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830',
                                '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842',
                                '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854',
                                '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', 
                                '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878',
                                '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', 
                                '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902',
                                '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914',
                                '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', 
                                '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938',
                                '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950',
                                '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960'], axis=1)'''

In [ ]:
gdp_correct = gdp_correct.drop([1, 730, 1000, 1150, 1280, 1300, 1348, 1400, 1450, 1500, 1550, 1570, 1600, 1650, 1700, 1720, 
                                1750, 1775, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813,
                                1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 
                                1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845,
                                1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861,
                                1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 
                                1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
                                1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909,
                                1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 
                                1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941,
                                1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 
                                1958, 1959, 1960], axis=1)
gdp_correct.head()

In [ ]:
gdp_correct = gdp_correct.reset_index()

In [ ]:
#here we are cleaning a bit more so it's more readable
gdp_correct.rename(columns={'year':'index',
                          'index':'Country'},
                            inplace=True)
gdp_correct

In [ ]:
gdp_correct.Country.unique()

In [ ]:
#here we are dropping all the rows we don't need
gdp_correct.drop([12, 17, 18, 23, 31, 39, 67, 83, 84, 85, 102, 109,110,122,123,125,126, 127, 180, 181, 182, 183])

In [ ]:
#gdp_correct.isna().sum()
gdp_correct = gdp_correct.drop([2009,2010], axis=1)

## CHILDREN PER WOMAN AND CHILD MORTALITY

In [ ]:
# this is a function to be able to read the csv files properly
def comma_remover(string):
    text_cleaned = re.sub(',000', '', string)
    text_cleaned = re.sub('rate,', 'rate', text_cleaned)
    return text_cleaned

In [ ]:
#here we import the csv file about fertility (children per woman)
fertility_df = pd.read_csv('fertility.csv', sep=',')
fertility_df

In [ ]:
#here we apply the comma remover function
column_name = fertility_df.columns[0]
fertility_df[column_name] = fertility_df[column_name].apply(comma_remover)

In [ ]:
column = fertility_df.columns[0].split(',')
columns = []
for i in column:
    text = re.sub('"', '', i)
    if text:
        columns.append(text)
        
columns.append('')
columns.append('')

In [ ]:
fertility_df[columns] = fertility_df[column_name].str.split(',', expand=True)

In [ ]:
#here we are dropping the columns we dont need
fertility_df.drop(columns = [column_name, 'Indicator Code', 'Indicator Name', ''], inplace=True)
fertility_df.head()

In [ ]:
#this is a function to clean the values so we can transform them in float to operate with them
def cleaner(string):
    return re.sub('"', '', string)

columns_new = list(fertility_df.columns)
for i in columns_new:
    fertility_df[i] = fertility_df[i].apply(cleaner)

fertility_df

In [ ]:
#Here we drop the column 1960 because was causing problems
fertility_df = fertility_df.drop(['1960'], axis=1)
fertility_df

In [ ]:
#here we drop the 2019 because id had too many data missing
fertility_df = fertility_df.drop(['2019'], axis=1)
fertility_df

In [ ]:
#here we fill the empty values with NAN's to be able to operate with the columns
fertility_df = fertility_df.replace('', np.nan)
fertility_df

In [ ]:
#here we transform all columns but Country Name and Country Code to numeric values
fertility_df[['1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']] = fertility_df[['1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']].apply(pd.to_numeric)

In [ ]:
#fertility_df.dtypes

In [ ]:
fertility_df.describe()

## child mortality rates

In [ ]:
#here we import the csv file about child mortality rates (death per 1000 births)
mortality_df = pd.read_csv('mortality2.csv', sep=',')

In [ ]:
#here we apply the comma remover function
column_name = mortality_df.columns[0]
mortality_df[column_name] = mortality_df[column_name].apply(comma_remover)

In [ ]:
column = mortality_df.columns[0].split(',')
columns = []
for i in column:
    text = re.sub('"', '', i)
    if text:
        columns.append(text)
        
columns.append('')
columns.append('')

In [ ]:
mortality_df[columns] = mortality_df[column_name].str.split(',', expand=True)

In [ ]:
#hee we drop the columns we don't need
mortality_df.drop(columns = [column_name, 'Indicator Code', 'Indicator Name', ''], inplace=True)
mortality_df.head()

In [ ]:
#this is a function to clean the values so we can transform them in float to operate with them
def cleaner(string):
    return re.sub('"', '', string)

columns_new = list(mortality_df.columns)
for i in columns_new:
    mortality_df[i] = mortality_df[i].apply(cleaner)

mortality_df

In [ ]:
mortality_df = mortality_df.replace('', np.nan, inplace=False)
mortality_df

In [ ]:
#here we drop the columns we don't need
mortality_df = mortality_df.drop(['1960', '2019'], axis=1)
mortality_df

In [ ]:
#here we transform all columns but Country Name and Country Code to numeric values
mortality_df[['1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']] = mortality_df[['1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']].apply(pd.to_numeric)

In [ ]:
#mortality_df.dtypes

In [ ]:
'''mortality_df[[1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
             1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
             1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
             2018]].div(10)'''

In [ ]:
mortality_df.describe()

## Cleaned datasets

- population_df : This dataset is about population level per country from 1961 to 2016.
- gdp_correct: This is a dataset about the GDP level per country from 1961 to 2008.
- fertility_df: This is a dataset about the children per woman per country from 1961 to 2018.
- mortality_df: This is a dataset about the child mortality per 1000 births from 1961 to 2018.
- tech_df: This is a dataset about the 'Access to clean fuels and technologies for cooking (% of population)' per country from     2000 to 2016.
- elec_df: This is a dataset about the 'Access to electricity (% of population)' per country from 2000 to 2016.
- education_df: This is a dataset about the percentage of people between 25-34 that have tertiary education from 1994 to 2018.

## Merging datasets

In [ ]:
fertility_df_m = fertility_df.drop(['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'], axis=1)

In [ ]:
mortality_df_m = mortality_df.drop(['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'], axis=1)

In [ ]:
columns = list(fertility_df.columns)
columns.remove('Country Code')
columns.remove('Country Name')
f_melted = pd.melt(fertility_df, id_vars=['Country Name', 'Country Code'], value_vars=columns, var_name="Year", value_name="Fertility")

f_melted.head()

In [ ]:
columns = list(mortality_df.columns)
columns.remove('Country Code')
columns.remove('Country Name')
m_melted = pd.melt(mortality_df, id_vars=['Country Name', 'Country Code'], value_vars=columns, var_name="Year", value_name="Mortality")

m_melted.head()

In [ ]:
fert_mort_df = pd.merge(f_melted, m_melted, on=['Country Name','Country Code', 'Year'])
fert_mort_df.head()

In [ ]:
fert_mort_df.to_csv('fert_mort_original.csv')

In [ ]:
grouped_f_m = fert_mort_df[['Year', 'Fertility', 'Mortality']].groupby(['Year']).agg({'Fertility':'mean', 'Mortality':'mean'})
grouped_f_m['Mortality'] = grouped_f_m['Mortality'] / 10
grouped_f_m.head()

In [ ]:
grouped_f_m.plot()

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(grouped_f_m['Mortality'], grouped_f_m['Fertility'])

In [ ]:
grouped_f_m.to_csv('fert_mort.csv')

In [ ]:
'''for i in fert_mort_df['Country Name'][i]:
    if (fert_mort_df['Country Name'][i].isna().sum(axis=1)) >=20:
        fert_mort_df.drop(['Country Name'][i])
'''

## merging polulation and Gdp dataframes

In [ ]:
population_df_m = population_df.drop(['2009','2010','2011','2012','2013','2014','2015','2016'],axis=1)

In [ ]:
population_df_m

In [ ]:
columns = list(population_df_m.columns)
columns.remove('Country_Code')
columns.remove('Country')
p_melted = pd.melt(population_df_m, id_vars=['Country', 'Country_Code'], value_vars=columns, var_name="Year", value_name="Population")

p_melted.head()

In [ ]:
p_melted.tail()

In [ ]:
#p_melted['Year'] = p_melted['Year'].apply(pd.to_numeric)

In [ ]:
columns = list(gdp_correct.columns)
columns.remove('Country')
gdp_melted = pd.melt(gdp_correct, id_vars=['Country'], value_vars=columns, var_name="Year", value_name="GDP_per_capita")

gdp_melted.head()

In [ ]:
#gdp_melted.dtypes

In [ ]:
gdp_melted.tail()

In [ ]:
fert_mort_df.dtypes

In [ ]:
1

In [ ]:
#gdp_p_df['GDP'] = gdp_p_df['GDP_per_capita'] * gdp_p_df['Population']

In [ ]:
gdp_p_years = gdp_p_df[['Year', 'Population', 'GDP_per_capita']].groupby(['Year']).agg({'Population':'mean', 'GDP_per_capita':'mean'})
gdp_p_years

In [ ]:
gdp_p_years.plot()

In [ ]:
plt.scatter(gdp_p_years['Population'], gdp_p_years['GDP_per_capita'])

In [ ]:
fert_mort_df.rename(columns={'Country Name':'Country','Country Code':'Country_Code'},inplace=True)

In [ ]:
fert_mort_df.dtypes

In [ ]:
final_df = pd.merge(gdp_p_df, fert_mort_df, on=['Country','Country_Code','Year'], how='outer')
final_df

In [ ]:
grouped_years = fert_mort_df[['Year', 'Fertility', 'Mortality']].groupby(['Year']).agg({'Fertility':'mean', 'Mortality':'mean'})
grouped_f_m['Mortality'] = grouped_f_m['Mortality'] / 10
grouped_f_m.head()