In [2]:
import pandas as pd

In [3]:
whole_db = pd.read_csv('Raw_data/data/historical_emissions/historical_emissions.csv')

In [4]:
len(whole_db['Sector'].unique())

14

In [5]:
whole_db.head(2)

,Country,Data source,Sector,Gas,Unit,2016,2015,2014,2013,2012,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Afghanistan,CAIT,Agriculture,All GHG,MtCO₂e,15.35,15.15,16.22,15.73,15.78,...,12.79,11.75,10.95,9.98,8.97,8.54,8.5,8.42,8.41,8.09
1,Afghanistan,CAIT,Land-Use Change and Forestry,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00

In [12]:
whole_db["Sector"].unique()

array(['Agriculture', 'Land-Use Change and Forestry',
       'Other Fuel Combustion', 'Waste', 'Total including LUCF',
       'Industrial Processes', 'Fugitive Emissions',
       'Total excluding LUCF', 'Energy', 'Electricity/Heat',
       'Bunker Fuels', 'Manufacturing/Construction', 'Transportation',
       'Building'], dtype=object)

#### converting year columns into rows

In [7]:
years = list(str(i) for i in range(1990, 2017))
fixed = pd.melt(whole_db, id_vars=['Country', 'Data source', 'Sector', 'Gas', 'Unit'],
               var_name = 'year',
               value_vars = years)

In [8]:
fixed['year'] = fixed['year'].astype(int)

In [9]:
fixed.head(10)

,Country,Data source,Sector,Gas,Unit,year,value
0,Afghanistan,CAIT,Agriculture,All GHG,MtCO₂e,1990,8.09
1,Afghanistan,CAIT,Land-Use Change and Forestry,All GHG,MtCO₂e,1990,0.00
2,Afghanistan,CAIT,Other Fuel Combustion,All GHG,MtCO₂e,1990,2.63
3,Afghanistan,CAIT,Waste,All GHG,MtCO₂e,1990,1.23
4,Afghanistan,CAIT,Total including LUCF,All GHG,MtCO₂e,1990,15.14
5,Afghanistan,CAIT,Industrial Processes,All GHG,MtCO₂e,1990,0.05
6,Afghanistan,CAIT,Fugitive Emissions,All GHG,MtCO₂e,1990,0.61
7,Afghanistan,CAIT,Total excluding LUCF,All GHG,MtCO₂e,1990,15.14
8,Afghanistan,CAIT,Energy,All GHG,MtCO₂e,1990,5.77
9,Albania,CAIT,Electricity/Heat,All GHG,MtCO₂e,1990,0.70

In [16]:
fixed[(fixed['Country'] == 'United States') & (fixed['year'] == 2016) & (fixed['Sector'] == 'Manufacturing/Construction')]

,Country,Data source,Sector,Gas,Unit,year,value
65485,United States,CAIT,Manufacturing/Construction,All GHG,MtCO₂e,2016,433.6

In [91]:
fixed[(fixed['Country'] == 'United States') & (fixed['year'] == 2016) & (fixed['Sector'] == 'Waste')]

             Country Data source Sector      Gas    Unit  year   value
65476  United States        CAIT  Waste  All GHG  MtCO₂e  2016  131.03

#### Yearly total world emissions

In [44]:
total_ghg_year = fixed.groupby(["year"]).sum().reset_index()

In [46]:
total_ghg_year['value'] = total_ghg_year['value'].round(decimals=0).astype(int)

In [72]:
total_ghg_year.dtypes

year     int64
value    int64
dtype: object

In [48]:
total_ghg_year.to_csv('/clean-tables/total_ghg_year.csv')

#### Yearly agriculture emissions

In [53]:
agri_ghg_year = fixed[fixed["Sector"] == 'Agriculture']

In [65]:
agri_ghg_year = agri_ghg_year.groupby(["year"]).sum().reset_index()

In [71]:
agri_ghg_year.dtypes

year       int64
value    float64
dtype: object

In [73]:
agri_ghg_year['value'] = agri_ghg_year['value'].round(decimals=0).astype(int)

In [75]:
agri_ghg_year.to_csv('agri_ghg_year.csv')

#### Yearly total world emissions per economic activity

In [39]:
ghg_per_ea = fixed.groupby(['Sector', 'year']).sum().reset_index()

In [41]:
ghg_per_ea['value'] = ghg_per_ea['value'].round(decimals=0).astype(int)

In [76]:
ghg_per_ea.head()

        Sector  year  value
0  Agriculture  1990  10560
1  Agriculture  1991  10506
2  Agriculture  1992  10436
3  Agriculture  1993  10363
4  Agriculture  1994  10433

In [ ]:
ghg_per_ea[ghg_per_ea['Sector'] == 'Agriculture']

In [ ]:
var_90 =

In [43]:
ghg_per_ea.to_csv('/clean-tables/ghg-per-ea.csv')