# Statistical part

## Goals and expectations :

- Is there any difference in salaries between the cities? (ANOVA Test) -> Tukey for advanced conclusions
- Is there any difference in salaries between the industries? (ANOVA Test) -> Tukey for advanced conclusions
- Is rating higher in "easy apply" jobs? (Two samples Hypothesis testing)
- What is the true value (Around) of the salary mean of data scientist and analysts (confidence intervals)

## Environment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import f_oneway

In [2]:
good_jobs = pd.read_csv('good-job.csv', index_col=0)
good_jobs.reset_index(drop=True, inplace=True)
good_jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Easy Apply,Min Salary,Max Salary
0,Junior Data Analyst,59-85 (),Job Description\nJob description\nInterpret da...,5.0,"['Staffigo Technical Services, LLC', '5.0']","New York, NY","Woodridge, IL",51 to 200 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,59,85
1,Data Analyst with Rochade,59-85 (),"Hi, Trust Yoursquore Doing Good. Enclosed is t...",4.0,"['Reliable Software Resources', '4.0']","New York, NY","Northville, MI",501 to 1000 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,59,85
2,Advertising Data Analyst,59-85 (),Advertising Data Analyst\n\nHearst Television ...,4.3,"['Hearst Television, Inc', '4.3']","New York, NY","Cincinnati, OH",51 to 200 employees,Company - Private,TV Broadcast & Cable Networks,Media,$5 to $10 million (USD),False,59,85
3,Senior Data Analyst,59-85 (),"At Rockstar Games, we create the games we woul...",4.1,"['Rockstar Games', '4.1']","New York, NY","New York, NY",1001 to 5000 employees,Subsidiary or Business Segment,Video Games,Media,$10 to $25 million (USD),False,59,85
4,Data Analyst,59-85 (),Job Description\nPrimary Responsibilities: Exp...,4.2,"['Precision technologies corp', '4.2']","New York, NY","New Brunswick, NJ",201 to 500 employees,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),False,59,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,Data Analyst Junior,57-100 (),Job Description\nJob description\nInterpret da...,5.0,"['Staffigo Technical Services, LLC', '5.0']","Denver, CO","Woodridge, IL",51 to 200 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,57,100
127,Data Security Analyst,57-100 (),Title: Data Security Analyst\nLocation: Denver...,4.3,"['22nd Century Staffing', '4.3']","Denver, CO","McLean, VA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),True,57,100
128,Data Security Analyst,57-100 (),"Role: Data Security Analyst\nLocation: Denver,...",4.1,"['Mavensoft Technologies, LLC.', '4.1']","Denver, CO","Beaverton, OR",1 to 50 employees,Company - Private,IT Services,Information Technology,Less than $1 million (USD),False,57,100
129,Data Analyst - Junior,57-100 (),Job Description\nJob description\nInterpret da...,5.0,"['Staffigo Technical Services, LLC', '5.0']","Denver, CO","Woodridge, IL",51 to 200 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,57,100
130,Data Base Programmer/Analyst,57-100 (),"Client is contracting for an on-site, temporar...",4.3,"['22nd Century Staffing', '4.3']","Denver, CO","McLean, VA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),True,57,100

## Data exploration

In [3]:
good_jobs['Location'].value_counts()

San Francisco, CA    38
New York, NY         33
San Diego, CA        24
Los Angeles, CA      16
Denver, CO           15
Seattle, WA           5
Name: Location, dtype: int64

In [4]:
cities = good_jobs[['Location','Min Salary','Max Salary']]

cities

         Location  Min Salary  Max Salary
0    New York, NY          59          85
1    New York, NY          59          85
2    New York, NY          59          85
3    New York, NY          59          85
4    New York, NY          59          85
..            ...         ...         ...
126    Denver, CO          57         100
127    Denver, CO          57         100
128    Denver, CO          57         100
129    Denver, CO          57         100
130    Denver, CO          57         100

[131 rows x 3 columns]

In [5]:
sf = cities[cities['Location'] == 'San Francisco, CA']

sf_min_salary = sf['Min Salary']
sf_max_salary = sf['Max Salary']

sf_min_salary = pd.unique(pd.Series(sf_min_salary))
print(sf_min_salary)

sf_max_salary = pd.unique(pd.Series(sf_max_salary ))
print(sf_max_salary)

[57 99 93 82 65]
[104 178 159 116 120]

In [6]:
ny = cities[cities['Location'] == 'New York, NY']

ny_min_salary = ny['Min Salary']
ny_max_salary = ny['Max Salary']

ny_min_salary = pd.unique(pd.Series(ny_min_salary))
print(ny_min_salary)

ny_max_salary = pd.unique(pd.Series(ny_max_salary ))
print(ny_max_salary)

[59 60 73 84 77 98]
[ 85 110 127  90 132 114]

In [7]:
sd = cities[cities['Location'] == 'San Diego, CA']

sd_min_salary = sd['Min Salary']
sd_max_salary = sd['Max Salary']

sd_min_salary = pd.unique(pd.Series(sd_min_salary))
print(sd_min_salary)

sd_max_salary = pd.unique(pd.Series(sd_max_salary ))
print(sd_max_salary)

[76 60]
[122 124]

In [8]:
la = cities[cities['Location'] == 'Los Angeles, CA']

la_min_salary = la['Min Salary']
la_max_salary = la['Max Salary']

la_min_salary = pd.unique(pd.Series(la_min_salary))
print(la_min_salary)

la_max_salary = pd.unique(pd.Series(la_max_salary ))
print(la_max_salary)

[ 55  57 113]
[103 132]

In [9]:
den = cities[cities['Location'] == 'Denver, CO']

den_min_salary = den['Min Salary']
den_max_salary = den['Max Salary']

den_min_salary = pd.unique(pd.Series(den_min_salary))
print(den_min_salary)

den_max_salary = pd.unique(pd.Series(den_max_salary ))
print(den_max_salary)

[57]
[ 67 100]

In [10]:
seat = cities[cities['Location'] == 'Seattle, WA']

seat_min_salary = seat['Min Salary']
seat_max_salary = seat['Max Salary']

seat_min_salary = pd.unique(pd.Series(seat_min_salary))
print(seat_min_salary)

seat_max_salary = pd.unique(pd.Series(seat_max_salary ))
print(seat_max_salary)

[55]
[101]

### Minimun salaries between cities

In [11]:
# ANOVA

f_oneway(sf_min_salary,ny_min_salary,sd_min_salary,la_min_salary,den_min_salary,seat_min_salary)

F_onewayResult(statistic=0.44124824594519513, pvalue=0.8115508427137781)

In [12]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [13]:
# Tukeyhsd()

mc = MultiComparison(cities['Min Salary'], cities['Location'])
result_min = mc.tukeyhsd()

In [14]:
print(result_min)

            Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================================
      group1            group2      meandiff p-adj   lower    upper  reject
---------------------------------------------------------------------------
       Denver, CO   Los Angeles, CA      2.5    0.9 -11.8946 16.8946  False
       Denver, CO      New York, NY  18.3333  0.001   5.8611 30.8055   True
       Denver, CO     San Diego, CA   9.6667 0.2827  -3.5161 22.8494  False
       Denver, CO San Francisco, CA  22.9211  0.001   10.708 35.1341   True
       Denver, CO       Seattle, WA     -2.0    0.9 -22.6828 18.6828  False
  Los Angeles, CA      New York, NY  15.8333 0.0035    3.632 28.0346   True
  Los Angeles, CA     San Diego, CA   7.1667 0.5839  -5.7601 20.0934  False
  Los Angeles, CA San Francisco, CA  20.4211  0.001   8.4847 32.3574   True
  Los Angeles, CA       Seattle, WA     -4.5    0.9 -25.0206 16.0206  False
     New York, NY     San Diego, CA  -8.6667 0.1881 -19.4115  2.0782  False
     New York, NY San Francisco, CA   4.5877 0.7046  -4.9426  14.118  False
     New York, NY       Seattle, WA -20.3333 0.0315 -39.5543 -1.1124   True
    San Diego, CA San Francisco, CA  13.2544 0.0047   2.8114 23.6973   True
    San Diego, CA       Seattle, WA -11.6667  0.521 -31.3561  8.0228  False
San Francisco, CA       Seattle, WA -24.9211 0.0032 -43.9749 -5.8672   True
---------------------------------------------------------------------------

### Maximum salaries between cities

In [15]:
# ANOVA

f_oneway (sf_max_salary,ny_max_salary,sd_max_salary,la_max_salary,den_max_salary,seat_max_salary)

F_onewayResult(statistic=1.6215259743465684, pvalue=0.2280376721159637)

In [16]:
# Tukeyhsd()

mc = MultiComparison(cities['Max Salary'], cities['Location'])
result_max = mc.tukeyhsd()

In [17]:
print(result_max)

            Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================================
      group1            group2      meandiff p-adj   lower    upper   reject
----------------------------------------------------------------------------
       Denver, CO   Los Angeles, CA  22.4125  0.035   0.9686  43.8564   True
       Denver, CO      New York, NY  28.2061  0.001    9.626  46.7861   True
       Denver, CO     San Diego, CA  40.7667  0.001  21.1281  60.4052   True
       Denver, CO San Francisco, CA  58.1526  0.001  39.9586  76.3467   True
       Denver, CO       Seattle, WA     18.6 0.5026 -12.2115  49.4115  False
  Los Angeles, CA      New York, NY   5.7936    0.9 -12.3829    23.97  False
  Los Angeles, CA     San Diego, CA  18.3542 0.0714   -0.903  37.6113  False
  Los Angeles, CA San Francisco, CA  35.7401  0.001  17.9584  53.5218   True
  Los Angeles, CA       Seattle, WA  -3.8125    0.9 -34.3823  26.7573  False
     New York, NY     San Diego, CA  12.5606 0.2138  -3.4461  28.5673  False
     New York, NY San Francisco, CA  29.9466  0.001  15.7492   44.144   True
     New York, NY       Seattle, WA  -9.6061    0.9 -38.2398  19.0277  False
    San Diego, CA San Francisco, CA   17.386  0.019   1.8289   32.943   True
    San Diego, CA       Seattle, WA -22.1667 0.2509 -51.4983    7.165  False
San Francisco, CA       Seattle, WA -39.5526 0.0013 -67.9374 -11.1678   True
----------------------------------------------------------------------------

In [18]:
industries = good_jobs[['Sector','Min Salary','Max Salary']]

industries

                     Sector  Min Salary  Max Salary
0    Information Technology          59          85
1    Information Technology          59          85
2                     Media          59          85
3                     Media          59          85
4    Information Technology          59          85
..                      ...         ...         ...
126  Information Technology          57         100
127       Business Services          57         100
128  Information Technology          57         100
129  Information Technology          57         100
130       Business Services          57         100

[131 rows x 3 columns]

In [19]:
industries['Sector'] = industries['Sector'].astype(str)

/Users/yidichi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
industries['Sector'].value_counts()

Information Technology              57
Business Services                   26
Health Care                         11
Education                            9
nan                                  8
Media                                5
Accounting & Legal                   5
Finance                              5
Travel & Tourism                     1
Transportation & Logistics           1
Biotech & Pharmaceuticals            1
Arts, Entertainment & Recreation     1
Manufacturing                        1
Name: Sector, dtype: int64

In [21]:
info_tec =industries[industries['Sector'] == 'Information Technology']

info_tec_min_salary = info_tec['Min Salary']
info_tec_max_salary = info_tec['Max Salary']

In [22]:
bus_ser =industries[industries['Sector'] == 'Business Services']

bus_ser_min_salary = bus_ser['Min Salary']
bus_ser_max_salary = bus_ser['Max Salary']

In [23]:
heal_care =industries[industries['Sector'] == 'Business Services']

heal_care_min_salary = heal_care['Min Salary']
heal_care_max_salary = heal_care['Max Salary']

In [24]:
education =industries[industries['Sector'] == 'Education']

education_min_salary = education['Min Salary']
education_max_salary = education['Max Salary']

In [25]:
media =industries[industries['Sector'] == 'Media']

media_min_salary = media['Min Salary']
media_max_salary = media['Max Salary']

In [26]:
finnace =industries[industries['Sector'] == 'Finance']

finnace_min_salary = finnace['Min Salary']
finnace_max_salary = finnace['Max Salary']

In [27]:
acc_legal =industries[industries['Sector'] == 'Accounting & Legal']

acc_legal_min_salary = acc_legal['Min Salary']
acc_legal_max_salary = acc_legal['Max Salary']

In [28]:
bio_phar =industries[industries['Sector'] == 'Biotech & Pharmaceuticals']

bio_phar_min_salary = bio_phar['Min Salary']
bio_phar_max_salary = bio_phar['Max Salary']

In [29]:
manufac =industries[industries['Sector'] == 'Manufacturing']

manufac_min_salary = manufac['Min Salary']
manufac_max_salary = manufac['Max Salary']

In [30]:
tral_tour =industries[industries['Sector'] == 'Travel & Tourism']

tral_tour_min_salary = tral_tour['Min Salary']
tral_tour_max_salary = tral_tour['Max Salary']

In [31]:
arts =industries[industries['Sector'] == 'Arts, Entertainment & Recreation']

arts_min_salary = arts['Min Salary']
arts_max_salary = arts['Max Salary']

In [32]:
tran_logis =industries[industries['Sector'] == 'Transportation & Logistics']

tran_logis_min_salary = tran_logis['Min Salary']
tran_logis_max_salary = tran_logis['Max Salary']

### Minimum salaries between industries

In [33]:
# ANOVA

f_oneway (info_tec_min_salary,bus_ser_min_salary,heal_care_min_salary,education_min_salary,media_min_salary,finnace_min_salary,acc_legal_min_salary,bio_phar_min_salary,manufac_min_salary,tral_tour_min_salary,arts_min_salary,tran_logis_min_salary)

F_onewayResult(statistic=1.7879763044088637, pvalue=0.06263199715386741)

In [34]:
# Tukeyhsd()

mc_sector = MultiComparison(industries['Min Salary'],industries['Sector'])
sector_min = mc_sector.tukeyhsd()
print(sector_min)

                           Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================================================================
             group1                           group2              meandiff p-adj    lower    upper  reject
----------------------------------------------------------------------------------------------------------
              Accounting & Legal Arts, Entertainment & Recreation      5.0    0.9  -51.5985 61.5985  False
              Accounting & Legal        Biotech & Pharmaceuticals      8.0    0.9  -48.5985 64.5985  False
              Accounting & Legal                Business Services   1.8462    0.9  -23.3842 27.0765  False
              Accounting & Legal                        Education  -5.4444    0.9   -34.263 23.3741  False
              Accounting & Legal                          Finance     19.8 0.6732  -12.8771 52.4771  False
              Accounting & Legal                      Health Care  12.0909    0.9  -15.7762 39.9581  False
              Accounting & Legal           Information Technology  -0.3684    0.9  -24.4668 23.7299  False
              Accounting & Legal                    Manufacturing     31.0 0.7943  -25.5985 87.5985  False
              Accounting & Legal                            Media    -10.2    0.9  -42.8771 22.4771  False
              Accounting & Legal       Transportation & Logistics    -11.0    0.9  -67.5985 45.5985  False
              Accounting & Legal                 Travel & Tourism    -11.0    0.9  -67.5985 45.5985  False
              Accounting & Legal                              nan     14.5    0.9  -14.9548 43.9548  False
Arts, Entertainment & Recreation        Biotech & Pharmaceuticals      3.0    0.9  -70.0683 76.0683  False
Arts, Entertainment & Recreation                Business Services  -3.1538    0.9  -55.8052 49.4975  False
Arts, Entertainment & Recreation                        Education -10.4444    0.9  -64.9063 44.0174  False
Arts, Entertainment & Recreation                          Finance     14.8    0.9  -41.7985 71.3985  False
Arts, Entertainment & Recreation                      Health Care   7.0909    0.9  -46.8736 61.0554  False
Arts, Entertainment & Recreation           Information Technology  -5.3684    0.9  -57.4868 46.7499  False
Arts, Entertainment & Recreation                    Manufacturing     26.0    0.9  -47.0683 99.0683  False
Arts, Entertainment & Recreation                            Media    -15.2    0.9  -71.7985 41.3985  False
Arts, Entertainment & Recreation       Transportation & Logistics    -16.0    0.9  -89.0683 57.0683  False
Arts, Entertainment & Recreation                 Travel & Tourism    -16.0    0.9  -89.0683 57.0683  False
Arts, Entertainment & Recreation                              nan      9.5    0.9  -45.3012 64.3012  False
       Biotech & Pharmaceuticals                Business Services  -6.1538    0.9  -58.8052 46.4975  False
       Biotech & Pharmaceuticals                        Education -13.4444    0.9  -67.9063 41.0174  False
       Biotech & Pharmaceuticals                          Finance     11.8    0.9  -44.7985 68.3985  False
       Biotech & Pharmaceuticals                      Health Care   4.0909    0.9  -49.8736 58.0554  False
       Biotech & Pharmaceuticals           Information Technology  -8.3684    0.9  -60.4868 43.7499  False
       Biotech & Pharmaceuticals                    Manufacturing     23.0    0.9  -50.0683 96.0683  False
       Biotech & Pharmaceuticals                            Media    -18.2    0.9  -74.7985 38.3985  False
       Biotech & Pharmaceuticals       Transportation & Logistics    -19.0    0.9  -92.0683 54.0683  False
       Biotech & Pharmaceuticals                 Travel & Tourism    -19.0    0.9  -92.0683 54.0683  False
       Biotech & Pharmaceuticals                              nan      6.5    0.9  -48.3012 61.3012  False
               Business Services                        Education  -7.2906    0.9  -27.2726 12.6915  False
               Business Services                          Finance  17.9538 0.4508   -7.2765 43.1842  False
               Business Services                      Health Care  10.2448 0.7869   -8.3389 28.8284  False
               Business Services           Information Technology  -2.2146    0.9  -14.4418 10.0127  False
               Business Services                    Manufacturing  29.1538 0.7818  -23.4975 81.8052  False
               Business Services                            Media -12.0462    0.9  -37.2765 13.1842  False
               Business Services       Transportation & Logistics -12.8462    0.9  -65.4975 39.8052  False
               Business Services                 Travel & Tourism -12.8462    0.9  -65.4975 39.8052  False
               Business Services                              nan  12.6538 0.6735   -8.2354  33.543  False
                       Education                          Finance  25.2444 0.1503   -3.5741  54.063  False
                       Education                      Health Care  17.5354 0.3516   -5.6873  40.758  False
                       Education           Information Technology    5.076    0.9  -13.4562 23.6082  False
                       Education                    Manufacturing  36.4444 0.5416  -18.0174 90.9063  False
                       Education                            Media  -4.7556    0.9  -33.5741  24.063  False
                       Education       Transportation & Logistics  -5.5556    0.9  -60.0174 48.9063  False
                       Education                 Travel & Tourism  -5.5556    0.9  -60.0174 48.9063  False
                       Education                              nan  19.9444 0.2736   -5.1612 45.0501  False
                         Finance                      Health Care  -7.7091    0.9  -35.5762 20.1581  False
                         Finance           Information Technology -20.1684 0.2028  -44.2668  3.9299  False
                         Finance                    Manufacturing     11.2    0.9  -45.3985 67.7985  False
                         Finance                            Media    -30.0 0.1062  -62.6771  2.6771  False
                         Finance       Transportation & Logistics    -30.8 0.8016  -87.3985 25.7985  False
                         Finance                 Travel & Tourism    -30.8 0.8016  -87.3985 25.7985  False
                         Finance                              nan     -5.3    0.9  -34.7548 24.1548  False
                     Health Care           Information Technology -12.4593 0.4034  -29.4744  4.5558  False
                     Health Care                    Manufacturing  18.9091    0.9  -35.0554 72.8736  False
                     Health Care                            Media -22.2909 0.2636  -50.1581  5.5762  False
                     Health Care       Transportation & Logistics -23.0909    0.9  -77.0554 30.8736  False
                     Health Care                 Travel & Tourism -23.0909    0.9  -77.0554 30.8736  False
                     Health Care                              nan   2.4091    0.9  -21.5985 26.4167  False
          Information Technology                    Manufacturing  31.3684 0.6816  -20.7499 83.4868  False
          Information Technology                            Media  -9.8316    0.9  -33.9299 14.2668  False
          Information Technology       Transportation & Logistics -10.6316    0.9  -62.7499 41.4868  False
          Information Technology                 Travel & Tourism -10.6316    0.9  -62.7499 41.4868  False
          Information Technology                              nan  14.8684 0.3361   -4.6385 34.3753  False
                   Manufacturing                            Media    -41.2 0.4133  -97.7985 15.3985  False
                   Manufacturing       Transportation & Logistics    -42.0 0.7379 -115.0683 31.0683  False
                   Manufacturing                 Travel & Tourism    -42.0 0.7379 -115.0683 31.0683  False
                   Manufacturing                              nan    -16.5    0.9  -71.3012 38.3012  False
                           Media       Transportation & Logistics     -0.8    0.9  -57.3985 55.7985  False
                           Media                 Travel & Tourism     -0.8    0.9  -57.3985 55.7985  False
                           Media                              nan     24.7 0.2003   -4.7548 54.1548  False
      Transportation & Logistics                 Travel & Tourism      0.0    0.9  -73.0683 73.0683  False
      Transportation & Logistics                              nan     25.5    0.9  -29.3012 80.3012  False
                Travel & Tourism                              nan     25.5    0.9  -29.3012 80.3012  False
----------------------------------------------------------------------------------------------------------

### Maximum salaries between industries

In [35]:
# Anova

f_oneway (info_tec_max_salary,bus_ser_max_salary,heal_care_max_salary,education_max_salary,media_min_salary,finnace_max_salary,acc_legal_max_salary,bio_phar_max_salary,manufac_max_salary,tral_tour_max_salary,arts_max_salary,tran_logis_max_salary)

F_onewayResult(statistic=5.449787753125887, pvalue=4.649650417964107e-07)

In [ ]:
0.00000004649650417964107

In [45]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
print(pairwise_tukeyhsd(industries['Max Salary'],industries['Sector']))

                            Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================================================================
             group1                           group2              meandiff p-adj    lower    upper   reject
-----------------------------------------------------------------------------------------------------------
              Accounting & Legal Arts, Entertainment & Recreation     18.0    0.9  -77.4193 113.4193  False
              Accounting & Legal        Biotech & Pharmaceuticals     13.0    0.9  -82.4193 108.4193  False
              Accounting & Legal                Business Services   5.8846    0.9  -36.6512  48.4204  False
              Accounting & Legal                        Education   5.3333    0.9  -43.2518  53.9185  False
              Accounting & Legal                          Finance     46.4 0.1949   -8.6903 101.4903  False
              Accounting & Legal                      Health Care  23.6364 0.8871  -23.3448  70.6176  False
              Accounting & Legal           Information Technology   5.4912    0.9  -35.1362  46.1186  False
              Accounting & Legal                    Manufacturing     69.0 0.4244  -26.4193 164.4193  False
              Accounting & Legal                            Media    -13.2    0.9  -68.2903  41.8903  False
              Accounting & Legal       Transportation & Logistics     -5.0    0.9 -100.4193  90.4193  False
              Accounting & Legal                 Travel & Tourism    -42.0    0.9 -137.4193  53.4193  False
              Accounting & Legal                              nan   11.625    0.9  -38.0328  61.2828  False
Arts, Entertainment & Recreation        Biotech & Pharmaceuticals     -5.0    0.9 -128.1858 118.1858  False
Arts, Entertainment & Recreation                Business Services -12.1154    0.9 -100.8802  76.6494  False
Arts, Entertainment & Recreation                        Education -12.6667    0.9 -104.4839  79.1506  False
Arts, Entertainment & Recreation                          Finance     28.4    0.9  -67.0193 123.8193  False
Arts, Entertainment & Recreation                      Health Care   5.6364    0.9  -85.3423  96.6151  False
Arts, Entertainment & Recreation           Information Technology -12.5088    0.9  -100.375  75.3575  False
Arts, Entertainment & Recreation                    Manufacturing     51.0    0.9  -72.1858 174.1858  False
Arts, Entertainment & Recreation                            Media    -31.2    0.9 -126.6193  64.2193  False
Arts, Entertainment & Recreation       Transportation & Logistics    -23.0    0.9 -146.1858 100.1858  False
Arts, Entertainment & Recreation                 Travel & Tourism    -60.0    0.9 -183.1858  63.1858  False
Arts, Entertainment & Recreation                              nan   -6.375    0.9  -98.7643  86.0143  False
       Biotech & Pharmaceuticals                Business Services  -7.1154    0.9  -95.8802  81.6494  False
       Biotech & Pharmaceuticals                        Education  -7.6667    0.9  -99.4839  84.1506  False
       Biotech & Pharmaceuticals                          Finance     33.4    0.9  -62.0193 128.8193  False
       Biotech & Pharmaceuticals                      Health Care  10.6364    0.9  -80.3423 101.6151  False
       Biotech & Pharmaceuticals           Information Technology  -7.5088    0.9   -95.375  80.3575  False
       Biotech & Pharmaceuticals                    Manufacturing     56.0    0.9  -67.1858 179.1858  False
       Biotech & Pharmaceuticals                            Media    -26.2    0.9 -121.6193  69.2193  False
       Biotech & Pharmaceuticals       Transportation & Logistics    -18.0    0.9 -141.1858 105.1858  False
       Biotech & Pharmaceuticals                 Travel & Tourism    -55.0    0.9 -178.1858  68.1858  False
       Biotech & Pharmaceuticals                              nan   -1.375    0.9  -93.7643  91.0143  False
               Business Services                        Education  -0.5513    0.9   -34.239  33.1364  False
               Business Services                          Finance  40.5154 0.0786   -2.0204  83.0512  False
               Business Services                      Health Care  17.7517  0.755  -13.5785   49.082  False
               Business Services           Information Technology  -0.3934    0.9  -21.0073  20.2205  False
               Business Services                    Manufacturing  63.1154 0.4521  -25.6494 151.8802  False
               Business Services                            Media -19.0846    0.9  -61.6204  23.4512  False
               Business Services       Transportation & Logistics -10.8846    0.9  -99.6494  77.8802  False
               Business Services                 Travel & Tourism -47.8846 0.8115 -136.6494  40.8802  False
               Business Services                              nan   5.7404    0.9  -29.4767  40.9575  False
                       Education                          Finance  41.0667 0.1905   -7.5185  89.6518  False
                       Education                      Health Care   18.303    0.9   -20.848   57.454  False
                       Education           Information Technology   0.1579    0.9  -31.0855  31.4013  False
                       Education                    Manufacturing  63.6667  0.491  -28.1506 155.4839  False
                       Education                            Media -18.5333    0.9  -67.1185  30.0518  False
                       Education       Transportation & Logistics -10.3333    0.9 -102.1506  81.4839  False
                       Education                 Travel & Tourism -47.3333 0.8613 -139.1506  44.4839  False
                       Education                              nan   6.2917    0.9   -36.034  48.6173  False
                         Finance                      Health Care -22.7636    0.9  -69.7448  24.2176  False
                         Finance           Information Technology -40.9088 0.0468  -81.5362  -0.2814   True
                         Finance                    Manufacturing     22.6    0.9  -72.8193 118.0193  False
                         Finance                            Media    -59.6 0.0217 -114.6903  -4.5097   True
                         Finance       Transportation & Logistics    -51.4 0.8131 -146.8193  44.0193  False
                         Finance                 Travel & Tourism    -88.4 0.0985 -183.8193   7.0193  False
                         Finance                              nan  -34.775  0.476  -84.4328  14.8828  False
                     Health Care           Information Technology -18.1451 0.6178  -46.8309  10.5406  False
                     Health Care                    Manufacturing  45.3636 0.8964  -45.6151 136.3423  False
                     Health Care                            Media -36.8364  0.293  -83.8176  10.1448  False
                     Health Care       Transportation & Logistics -28.6364    0.9 -119.6151  62.3423  False
                     Health Care                 Travel & Tourism -65.6364 0.4283 -156.6151  25.3423  False
                     Health Care                              nan -12.0114    0.9  -52.4858  28.4631  False
          Information Technology                    Manufacturing  63.5088 0.4252  -24.3575  151.375  False
          Information Technology                            Media -18.6912    0.9  -59.3186  21.9362  False
          Information Technology       Transportation & Logistics -10.4912    0.9  -98.3575   77.375  False
          Information Technology                 Travel & Tourism -47.4912 0.8093 -135.3575   40.375  False
          Information Technology                              nan   6.1338    0.9  -26.7529  39.0204  False
                   Manufacturing                            Media    -82.2 0.1688 -177.6193  13.2193  False
                   Manufacturing       Transportation & Logistics    -74.0  0.684 -197.1858  49.1858  False
                   Manufacturing                 Travel & Tourism   -111.0  0.123 -234.1858  12.1858  False
                   Manufacturing                              nan  -57.375 0.6418 -149.7643  35.0143  False
                           Media       Transportation & Logistics      8.2    0.9  -87.2193 103.6193  False
                           Media                 Travel & Tourism    -28.8    0.9 -124.2193  66.6193  False
                           Media                              nan   24.825 0.8937  -24.8328  74.4828  False
      Transportation & Logistics                 Travel & Tourism    -37.0    0.9 -160.1858  86.1858  False
      Transportation & Logistics                              nan   16.625    0.9  -75.7643 109.0143  False
                Travel & Tourism                              nan   53.625 0.7262  -38.7643 146.0143  False
-----------------------------------------------------------------------------------------------------------

In [46]:
industries.groupby('Sector').count()["Max Salary"]

Sector
Accounting & Legal                   5
Arts, Entertainment & Recreation     1
Biotech & Pharmaceuticals            1
Business Services                   26
Education                            9
Finance                              5
Health Care                         11
Information Technology              57
Manufacturing                        1
Media                                5
Transportation & Logistics           1
Travel & Tourism                     1
nan                                  8
Name: Max Salary, dtype: int64

In [36]:
# Tukeyhsd()

mc_sector = MultiComparison(industries['Max Salary'],industries['Sector'])
sector_max = mc_sector.tukeyhsd()
print(sector_max)

                            Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================================================================
             group1                           group2              meandiff p-adj    lower    upper   reject
-----------------------------------------------------------------------------------------------------------
              Accounting & Legal Arts, Entertainment & Recreation     18.0    0.9  -77.4193 113.4193  False
              Accounting & Legal        Biotech & Pharmaceuticals     13.0    0.9  -82.4193 108.4193  False
              Accounting & Legal                Business Services   5.8846    0.9  -36.6512  48.4204  False
              Accounting & Legal                        Education   5.3333    0.9  -43.2518  53.9185  False
              Accounting & Legal                          Finance     46.4 0.1949   -8.6903 101.4903  False
              Accounting & Legal                      Health Care  23.6364 0.8871  -23.3448  70.6176  False
              Accounting & Legal           Information Technology   5.4912    0.9  -35.1362  46.1186  False
              Accounting & Legal                    Manufacturing     69.0 0.4244  -26.4193 164.4193  False
              Accounting & Legal                            Media    -13.2    0.9  -68.2903  41.8903  False
              Accounting & Legal       Transportation & Logistics     -5.0    0.9 -100.4193  90.4193  False
              Accounting & Legal                 Travel & Tourism    -42.0    0.9 -137.4193  53.4193  False
              Accounting & Legal                              nan   11.625    0.9  -38.0328  61.2828  False
Arts, Entertainment & Recreation        Biotech & Pharmaceuticals     -5.0    0.9 -128.1858 118.1858  False
Arts, Entertainment & Recreation                Business Services -12.1154    0.9 -100.8802  76.6494  False
Arts, Entertainment & Recreation                        Education -12.6667    0.9 -104.4839  79.1506  False
Arts, Entertainment & Recreation                          Finance     28.4    0.9  -67.0193 123.8193  False
Arts, Entertainment & Recreation                      Health Care   5.6364    0.9  -85.3423  96.6151  False
Arts, Entertainment & Recreation           Information Technology -12.5088    0.9  -100.375  75.3575  False
Arts, Entertainment & Recreation                    Manufacturing     51.0    0.9  -72.1858 174.1858  False
Arts, Entertainment & Recreation                            Media    -31.2    0.9 -126.6193  64.2193  False
Arts, Entertainment & Recreation       Transportation & Logistics    -23.0    0.9 -146.1858 100.1858  False
Arts, Entertainment & Recreation                 Travel & Tourism    -60.0    0.9 -183.1858  63.1858  False
Arts, Entertainment & Recreation                              nan   -6.375    0.9  -98.7643  86.0143  False
       Biotech & Pharmaceuticals                Business Services  -7.1154    0.9  -95.8802  81.6494  False
       Biotech & Pharmaceuticals                        Education  -7.6667    0.9  -99.4839  84.1506  False
       Biotech & Pharmaceuticals                          Finance     33.4    0.9  -62.0193 128.8193  False
       Biotech & Pharmaceuticals                      Health Care  10.6364    0.9  -80.3423 101.6151  False
       Biotech & Pharmaceuticals           Information Technology  -7.5088    0.9   -95.375  80.3575  False
       Biotech & Pharmaceuticals                    Manufacturing     56.0    0.9  -67.1858 179.1858  False
       Biotech & Pharmaceuticals                            Media    -26.2    0.9 -121.6193  69.2193  False
       Biotech & Pharmaceuticals       Transportation & Logistics    -18.0    0.9 -141.1858 105.1858  False
       Biotech & Pharmaceuticals                 Travel & Tourism    -55.0    0.9 -178.1858  68.1858  False
       Biotech & Pharmaceuticals                              nan   -1.375    0.9  -93.7643  91.0143  False
               Business Services                        Education  -0.5513    0.9   -34.239  33.1364  False
               Business Services                          Finance  40.5154 0.0786   -2.0204  83.0512  False
               Business Services                      Health Care  17.7517  0.755  -13.5785   49.082  False
               Business Services           Information Technology  -0.3934    0.9  -21.0073  20.2205  False
               Business Services                    Manufacturing  63.1154 0.4521  -25.6494 151.8802  False
               Business Services                            Media -19.0846    0.9  -61.6204  23.4512  False
               Business Services       Transportation & Logistics -10.8846    0.9  -99.6494  77.8802  False
               Business Services                 Travel & Tourism -47.8846 0.8115 -136.6494  40.8802  False
               Business Services                              nan   5.7404    0.9  -29.4767  40.9575  False
                       Education                          Finance  41.0667 0.1905   -7.5185  89.6518  False
                       Education                      Health Care   18.303    0.9   -20.848   57.454  False
                       Education           Information Technology   0.1579    0.9  -31.0855  31.4013  False
                       Education                    Manufacturing  63.6667  0.491  -28.1506 155.4839  False
                       Education                            Media -18.5333    0.9  -67.1185  30.0518  False
                       Education       Transportation & Logistics -10.3333    0.9 -102.1506  81.4839  False
                       Education                 Travel & Tourism -47.3333 0.8613 -139.1506  44.4839  False
                       Education                              nan   6.2917    0.9   -36.034  48.6173  False
                         Finance                      Health Care -22.7636    0.9  -69.7448  24.2176  False
                         Finance           Information Technology -40.9088 0.0468  -81.5362  -0.2814   True
                         Finance                    Manufacturing     22.6    0.9  -72.8193 118.0193  False
                         Finance                            Media    -59.6 0.0217 -114.6903  -4.5097   True
                         Finance       Transportation & Logistics    -51.4 0.8131 -146.8193  44.0193  False
                         Finance                 Travel & Tourism    -88.4 0.0985 -183.8193   7.0193  False
                         Finance                              nan  -34.775  0.476  -84.4328  14.8828  False
                     Health Care           Information Technology -18.1451 0.6178  -46.8309  10.5406  False
                     Health Care                    Manufacturing  45.3636 0.8964  -45.6151 136.3423  False
                     Health Care                            Media -36.8364  0.293  -83.8176  10.1448  False
                     Health Care       Transportation & Logistics -28.6364    0.9 -119.6151  62.3423  False
                     Health Care                 Travel & Tourism -65.6364 0.4283 -156.6151  25.3423  False
                     Health Care                              nan -12.0114    0.9  -52.4858  28.4631  False
          Information Technology                    Manufacturing  63.5088 0.4252  -24.3575  151.375  False
          Information Technology                            Media -18.6912    0.9  -59.3186  21.9362  False
          Information Technology       Transportation & Logistics -10.4912    0.9  -98.3575   77.375  False
          Information Technology                 Travel & Tourism -47.4912 0.8093 -135.3575   40.375  False
          Information Technology                              nan   6.1338    0.9  -26.7529  39.0204  False
                   Manufacturing                            Media    -82.2 0.1688 -177.6193  13.2193  False
                   Manufacturing       Transportation & Logistics    -74.0  0.684 -197.1858  49.1858  False
                   Manufacturing                 Travel & Tourism   -111.0  0.123 -234.1858  12.1858  False
                   Manufacturing                              nan  -57.375 0.6418 -149.7643  35.0143  False
                           Media       Transportation & Logistics      8.2    0.9  -87.2193 103.6193  False
                           Media                 Travel & Tourism    -28.8    0.9 -124.2193  66.6193  False
                           Media                              nan   24.825 0.8937  -24.8328  74.4828  False
      Transportation & Logistics                 Travel & Tourism    -37.0    0.9 -160.1858  86.1858  False
      Transportation & Logistics                              nan   16.625    0.9  -75.7643 109.0143  False
                Travel & Tourism                              nan   53.625 0.7262  -38.7643 146.0143  False
-----------------------------------------------------------------------------------------------------------

### Is rating higher in "easy apply" jobs?

In [37]:
rating = good_jobs[['Rating','Easy Apply']]

rating

     Rating  Easy Apply
0       5.0       False
1       4.0       False
2       4.3       False
3       4.1       False
4       4.2       False
..      ...         ...
126     5.0       False
127     4.3        True
128     4.1       False
129     5.0       False
130     4.3        True

[131 rows x 2 columns]

In [38]:
easy = rating[rating['Easy Apply']==True]

easy

     Rating  Easy Apply
76      4.1        True
83      4.5        True
85      4.0        True
98      4.1        True
99      4.8        True
100     4.1        True
117     4.0        True
127     4.3        True
130     4.3        True

In [39]:
noteasy = rating[rating['Easy Apply']==False]
noteasy

     Rating  Easy Apply
0       5.0       False
1       4.0       False
2       4.3       False
3       4.1       False
4       4.2       False
..      ...         ...
124     4.2       False
125     4.1       False
126     5.0       False
128     4.1       False
129     5.0       False

[122 rows x 2 columns]

In [42]:
import scipy.stats as st

In [41]:
def t_test (samp1, samp2):
    
    t_test = st.ttest_ind (a=samp1 ,b=samp2)
    return t_test

t_test(noteasy["Rating"], easy["Rating"])

Ttest_indResult(statistic=1.6114885744395542, pvalue=0.10951733735866148)