# Project 4 -  Study of Pronto Cycle Share

### Importing the libraries

In [5]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import descartes
#import geopandas as gpd
#from shapely.geometry import Point

### Reading the data, 3 csv database

In [7]:
df_stations = pd.read_csv("/home/pau/Ironhack/week5/project5/Project-Week-5-Your-Own-Project/your-project/station.csv")
df_trips = pd.read_csv("/home/pau/Ironhack/week5/project5/Project-Week-5-Your-Own-Project/your-project/trip.csv")
df_weather = pd.read_csv("/home/pau/Ironhack/week5/project5/Project-Week-5-Your-Own-Project/your-project/weather.csv")

In [20]:
df_trips.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971

In [30]:
number_of_member_subscription = df_trips[df_trips["usertype"] == "Member"].count()

In [31]:
numbers_of_member_short = df_trips[df_trips["usertype"] == "Short-Term Pass Holder"].count()

In [32]:
total_members = df_trips["usertype"].count()

In [33]:
number_of_member_subscription/total_members

trip_id              0.632916
starttime            0.632916
stoptime             0.632916
bikeid               0.632916
tripduration         0.632916
from_station_name    0.632916
to_station_name      0.632916
from_station_id      0.632916
to_station_id        0.632916
usertype             0.632916
gender               0.632916
birthyear            0.632902
dtype: float64

In [34]:
numbers_of_member_short/total_members

trip_id              0.367081
starttime            0.367081
stoptime             0.367081
bikeid               0.367081
tripduration         0.367081
from_station_name    0.367081
to_station_name      0.367081
from_station_id      0.367081
to_station_id        0.367081
usertype             0.367081
gender               0.000000
birthyear            0.000000
dtype: float64