# Is it worth it? - Data Analysis

In [5]:
import pandas as pd
import numpy as np

In [6]:
df_bike = pd.read_csv("/home/pau/Ironhack/week5/project5/Project-Week-5-Your-Own-Project/your-project/date_usertype_tripduration.csv")

In [7]:
df_bike

    YearMonthDay  usertype  tripduration
0     2014-10-13       818    237.284833
1     2014-10-14       982    306.103728
2     2014-10-15       626    133.439650
3     2014-10-16       790    222.390892
4     2014-10-17       588    149.370242
5     2014-10-18       798    325.786612
6     2014-10-19      1332    684.871028
7     2014-10-20       778    206.561264
8     2014-10-21       714    177.494541
9     2014-10-22       282     63.867778
10    2014-10-23       676    171.934122
11    2014-10-24       860    240.542347
12    2014-10-25       432    133.030439
13    2014-10-26       504    172.843146
14    2014-10-27       734    182.226487
15    2014-10-28       470    125.498221
16    2014-10-29       880    195.342234
17    2014-10-30       454     82.033006
18    2014-10-31       452     88.225944
19    2014-11-01       876    331.383929
20    2014-11-02       662    255.298751
21    2014-11-03       474     83.938616
22    2014-11-04       770    142.727622
23    2014-11-05       592    113.246415
24    2014-11-06       512    117.683154
25    2014-11-07       690    177.520622
26    2014-11-08      1058    473.632571
27    2014-11-09       474    179.298073
28    2014-11-10       784    265.451871
29    2014-11-11       540    127.604745
..           ...       ...           ...
659   2016-08-02       395    119.281996
660   2016-08-03       412    127.661493
661   2016-08-04       439    126.527834
662   2016-08-05       520    189.164674
663   2016-08-06       379    207.290922
664   2016-08-07       328    185.430822
665   2016-08-08       431    128.891509
666   2016-08-09       428    145.240121
667   2016-08-10       504    171.128434
668   2016-08-11       490    187.598446
669   2016-08-12       465    201.735278
670   2016-08-13       466    290.549588
671   2016-08-14       451    287.399547
672   2016-08-15       408    156.807266
673   2016-08-16       422    123.412637
674   2016-08-17       430    131.168976
675   2016-08-18       528    174.633547
676   2016-08-19       407    117.152971
677   2016-08-20       426    234.185348
678   2016-08-21       345    159.471863
679   2016-08-22       439    128.051490
680   2016-08-23       412    123.531202
681   2016-08-24       446    136.815456
682   2016-08-25       471    136.789475
683   2016-08-26       500    164.524121
684   2016-08-27       333    168.563759
685   2016-08-28       392    197.421428
686   2016-08-29       369     87.142622
687   2016-08-30       375     91.492200
688   2016-08-31       319     89.823902

[689 rows x 3 columns]

In [9]:
df_bike[["tripduration"]].mean()/500

tripduration    0.272553
dtype: float64